<%= form_with(model: userinfo ,local:true) do |form|%>

  <% if userinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userinfo.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% userinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.label :name ,:class=>"label"%>
      <%= form.text_field :name ,:class=>"input"%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :profile ,:class=>"label"%>
      <%= form.text_field :profile ,:class=>"input"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit nil,:class=>"button" %>
  </div>

<% end %>
